.one-third
  @include one-third
.two-thirds
  @include two-thirds
.one-sixth
  @include container
  width: $width/6 - 2px
.row
  position: relative
  @include clear
.med-grey
  background: $med_grey
.light-grey
  background: $light_grey

.big_label
  padding-top: 2px
  margin: 2px 0
  @include padded
  background: red url('images/grad.png') top left repeat-y;
  background-size: contain
  text-align: center
  font-weight: bold
  h3
    color: white
    font-weight: normal
    text-transform: uppercase
    font-size: 14px
