@mixin padded
  padding: 4px 10px
@mixin container
  @include padded
  float: left
  position: relative
  margin-right: 2px
  display: block
@mixin one-third
  @include container
  width: $width/3 - 2px
@mixin two-thirds
  @include container
  width: $width/3 * 2 - 6px
@mixin clear
  margin-bottom: 2px
  &:after
    content: ' '
    clear: both
    display: block
