@font-face
  font-family: Trade Gothic
  src: url('styles/fonts/TradeGothic.otf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: Trade Gothic
  src: url('styles/fonts/TradeGothic.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: Trade Gothic
  src: url('styles/fonts/boldoblique.ttf')
  font-weight: bold
  font-style: italic

@font-face
  font-family: Trade Gothic
  src: url('styles/fonts/oblique.ttf')
  font-weight: normal
  font-style: italic


*
  font-family: Trade Gothic

a
  &, &:visited, &:hover
    text-decoration: none
    color: $primary

h1, h2, h3
  color: $primary

h1, h3
  text-transform: uppercase

hr
  border-top: 1px solid $medlight_grey
  border-bottom: none
  margin: 5px 0
