@import '../../node_modules/normalize.css/normalize'

$width: 6.4in
$height: 8.25in

body
  height: $height
  &, *
    box-sizing: border-box
    overflow: hidden
    margin: 0
    padding: 0
  &.preview
    background: #999;
    .page
      background: white
      margin: 30px 0
      box-shadow: #333 -1px 1px 3px
    height: auto
    overflow: visible
    #report
      margin: 0 auto

@import 'vars'
@import 'type'
@import 'mixins'
@import 'helpers'


#report
  overflow: hidden
  width: $width
  margin: 0
  padding: 0
  @include clear

.page
  width: $width
  height: $height
  overflow: hidden
  position: relative

.content
  font-size: 11px
  em
    font-size: 9.5px
  h3
    font-size: 11px
    margin: 2px 0 0

.expression,
.immune
  background: $light_grey

.immune_list
  @include one-third
  padding-top: 10px
  background: $dark_grey
  color: white
  font-size: 9px
  overflow: visible

  &:after
    content: ''
    border-color: transparent transparent transparent $dark_grey
    border-width: 10px
    border-style: solid
    display: block
    position: absolute
    top: 50%
    left: 100%
    margin-top: -5px

  em
    font-size: 7px

  .t_cells
    color: rgb(207, 28, 32)
  .cd4_subtypes
    color: rgb(53, 132, 45)
  .myeloid_cells
    color: rgb(222, 95, 43)
  .nk_cells
    color: rgb(0, 104,155)
  .b_cells
    color: rgb(232, 141, 36)

  span:last-child
    font-weight: bold

  span:first-child
    color: white
    &:after
      content: ''
      width: 34px
      border-bottom: 1px dotted white
      right: 30px
      top: 6px
      position: absolute

  h4
    font-size: 11px
    &:after
      content: '%'
      float: right
      color: white
  ul
    margin: 0 0 8px
    font-size: 9px
    li
      position: relative
      span:last-child
        float: right

#immune_graph svg
  .circles
    path
      stroke: white
      stroke-width: 12px
      fill: #75838b
      &.immune
        fill: $dark_grey
    circle.container
      fill: white
      stroke: #75838b
      stroke-width: 2px
    text
      fill: #75838b
      font-size: 20px
      font-weight: normal
      &.label
        font-size: 14px
    .immune
      text
        fill: white
        font-weight: bold
      .label
        font-size: 20px
      circle.container
        display: none

#expression
  .z_scores
    font-size: 6.5px
    text.label
      font-size: 8px
      font-weight: bold
  .y_labels
    font-size: 6.5px
    .label
      font-size: 8px
      font-weight: bold
  .x_labels
    circle
      stroke: none
    text
      fill: white
      font-size: 6px
      font-weight: bold
  .graph
    stroke-width: 5px
  .x_axes
    line.axis
      stroke-dasharray: 1,1
      stroke: $medlight_grey
    line.base
      stroke: $medlight_grey
      stroke-dasharray: none
      stroke-width: 12px
    line.zero
      stroke-dasharray: none
      stroke: $dark_grey

#burden
  background: $light_grey
  position: relative
  height: 40px
  padding-top: 6px
  .bg
    background: linear-gradient(to right, #41a337 0%,#6ba133 25%,#df9024 50%,#db5721 75%,#cf1c21 100%)
    border: 1px solid $light_grey
    height: 16px
  .slider
    font-size: 8px
    background: white
    width: 28px
    height: 28px
    border-radius: 100px
    position: absolute
    top: 0px
    padding-top: 8px
    font-weight: bold
    text-align: center
    border: 2px solid black
    vertical-align: middle
  .labels
    span
      font-size: 6px
      float: left
      padding: 0 8px
      &:last-child
        float: right

      &:first-child:after,
      &:last-child:before
        content: ""
        width: 200px
        margin: 2px 10px
        display: inline-block
        border-top: 1px dotted black
      &:first-child:after
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);
      &:last-child:before
        -webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);

#header
  height: 100px
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(14,63,93,1)))
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(14,63,93,1) 100%)
  border-top: 1px solid transparent
  .section
    @include one-third
    padding: 10px 20px
    margin: 0
    height: 100%
    &::after
      content: ''
      border-left: 1px solid white
      position: absolute
      top: 10%
      bottom: 10%
      right: 0
      display: none
    &:first-child::after
      display: block
  .logo
    img
      display: block
      width: 90%
      margin: 5px auto 0
  h1
    font-size: 18px
    text-align: center
    margin-top: 30px

  .identifier
    font-size: 10px
    padding-top: 12px
    p, strong
      color: white
      line-height: 1.1em
      margin: 0 0 2px 0
    p strong
      color: $primary
      text-transform: uppercase
    hr
      border-top-color: white
      margin: 8px 0

#footer
  background: $light_grey
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 8px 0
  font-size: 8px
  margin: 0
  font-weight: bold
  hr
    border-top-color: $medlight_grey
  .section
    height: 40px
    margin-top: -5px
    border-right: 1px solid $medlight_grey
    border-top: 1px solid $medlight_grey;
    padding: 4px 10px;
    height: 40px;
    float: left;
    p
      padding-top: 2px
    &.big
      width: 60%
    &.small
      width: 20%
    &:last-child
      border-right: none
