/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

body {
  height: 8.25in; }
  body, body * {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0; }
  body.preview {
    background: #999;
    height: auto;
    overflow: visible; }
    body.preview .page {
      background: white;
      margin: 30px 0;
      box-shadow: #333 -1px 1px 3px; }
    body.preview #report {
      margin: 0 auto; }

@font-face {
  font-family: Trade Gothic;
  src: url("styles/fonts/TradeGothic.otf");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Trade Gothic;
  src: url("styles/fonts/TradeGothic.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Trade Gothic;
  src: url("styles/fonts/boldoblique.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: Trade Gothic;
  src: url("styles/fonts/oblique.ttf");
  font-weight: normal;
  font-style: italic; }

* {
  font-family: Trade Gothic; }

a, a:visited, a:hover {
  text-decoration: none;
  color: #217CA4; }

h1, h2, h3 {
  color: #217CA4; }

h1, h3 {
  text-transform: uppercase; }

hr {
  border-top: 1px solid #87898b;
  border-bottom: none;
  margin: 5px 0; }

.one-third {
  padding: 4px 10px;
  float: left;
  position: relative;
  margin-right: 2px;
  display: block;
  width: 2.1125in; }

.two-thirds {
  padding: 4px 10px;
  float: left;
  position: relative;
  margin-right: 2px;
  display: block;
  width: 4.20417in; }

.one-sixth {
  padding: 4px 10px;
  float: left;
  position: relative;
  margin-right: 2px;
  display: block;
  width: 1.04583in; }

.row {
  position: relative;
  margin-bottom: 2px; }
  .row:after {
    content: ' ';
    clear: both;
    display: block; }

.med-grey {
  background: #3e4b52; }

.light-grey {
  background: #ebeff1; }

.big_label {
  padding-top: 2px;
  margin: 2px 0;
  padding: 4px 10px;
  background: red url("images/grad.png") top left repeat-y;
  background-size: contain;
  text-align: center;
  font-weight: bold; }
  .big_label h3 {
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px; }

#report {
  overflow: hidden;
  width: 6.4in;
  margin: 0;
  padding: 0;
  margin-bottom: 2px; }
  #report:after {
    content: ' ';
    clear: both;
    display: block; }

.page {
  width: 6.4in;
  height: 8.25in;
  overflow: hidden;
  position: relative; }

.content {
  font-size: 11px; }
  .content em {
    font-size: 9.5px; }
  .content h3 {
    font-size: 11px;
    margin: 2px 0 0; }

.expression,
.immune {
  background: #ebeff1; }

.immune_list {
  padding: 4px 10px;
  float: left;
  position: relative;
  margin-right: 2px;
  display: block;
  width: 2.1125in;
  padding-top: 10px;
  background: #21292e;
  color: white;
  font-size: 9px;
  overflow: visible; }
  .immune_list:after {
    content: '';
    border-color: transparent transparent transparent #21292e;
    border-width: 10px;
    border-style: solid;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px; }
  .immune_list em {
    font-size: 7px; }
  .immune_list .t_cells {
    color: #cf1c20; }
  .immune_list .cd4_subtypes {
    color: #35842d; }
  .immune_list .myeloid_cells {
    color: #de5f2b; }
  .immune_list .nk_cells {
    color: #00689b; }
  .immune_list .b_cells {
    color: #e88d24; }
  .immune_list span:last-child {
    font-weight: bold; }
  .immune_list span:first-child {
    color: white; }
    .immune_list span:first-child:after {
      content: '';
      width: 34px;
      border-bottom: 1px dotted white;
      right: 30px;
      top: 6px;
      position: absolute; }
  .immune_list h4 {
    font-size: 11px; }
    .immune_list h4:after {
      content: '%';
      float: right;
      color: white; }
  .immune_list ul {
    margin: 0 0 8px;
    font-size: 9px; }
    .immune_list ul li {
      position: relative; }
      .immune_list ul li span:last-child {
        float: right; }

#immune_graph svg .circles path {
  stroke: white;
  stroke-width: 12px;
  fill: #75838b; }
  #immune_graph svg .circles path.immune {
    fill: #21292e; }

#immune_graph svg .circles circle.container {
  fill: white;
  stroke: #75838b;
  stroke-width: 2px; }

#immune_graph svg .circles text {
  fill: #75838b;
  font-size: 20px;
  font-weight: normal; }
  #immune_graph svg .circles text.label {
    font-size: 14px; }

#immune_graph svg .circles .immune text {
  fill: white;
  font-weight: bold; }

#immune_graph svg .circles .immune .label {
  font-size: 20px; }

#immune_graph svg .circles .immune circle.container {
  display: none; }

#expression .z_scores {
  font-size: 6.5px; }
  #expression .z_scores text.label {
    font-size: 8px;
    font-weight: bold; }

#expression .y_labels {
  font-size: 6.5px; }
  #expression .y_labels .label {
    font-size: 8px;
    font-weight: bold; }

#expression .x_labels circle {
  stroke: none; }

#expression .x_labels text {
  fill: white;
  font-size: 6px;
  font-weight: bold; }

#expression .graph {
  stroke-width: 5px; }

#expression .x_axes line.axis {
  stroke-dasharray: 1,1;
  stroke: #87898b; }

#expression .x_axes line.base {
  stroke: #87898b;
  stroke-dasharray: none;
  stroke-width: 12px; }

#expression .x_axes line.zero {
  stroke-dasharray: none;
  stroke: #21292e; }

#burden {
  background: #ebeff1;
  position: relative;
  height: 40px;
  padding-top: 6px; }
  #burden .bg {
    background: linear-gradient(to right, #41a337 0%, #6ba133 25%, #df9024 50%, #db5721 75%, #cf1c21 100%);
    border: 1px solid #ebeff1;
    height: 16px; }
  #burden .slider {
    font-size: 8px;
    background: white;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    padding-top: 8px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    vertical-align: middle; }
  #burden .labels span {
    font-size: 6px;
    float: left;
    padding: 0 8px; }
    #burden .labels span:last-child {
      float: right; }
    #burden .labels span:first-child:after, #burden .labels span:last-child:before {
      content: "";
      width: 200px;
      margin: 2px 10px;
      display: inline-block;
      border-top: 1px dotted black; }
    #burden .labels span:first-child:after {
      -webkit-mask-image: -webkit-linear-gradient(left, black 0%, transparent 40%); }
    #burden .labels span:last-child:before {
      -webkit-mask-image: -webkit-linear-gradient(right, black 0%, transparent 40%); }

#header {
  height: 100px;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, black), color-stop(100%, #0e3f5d));
  background: -webkit-linear-gradient(45deg, black 0%, #0e3f5d 100%);
  border-top: 1px solid transparent; }
  #header .section {
    padding: 4px 10px;
    float: left;
    position: relative;
    margin-right: 2px;
    display: block;
    width: 2.1125in;
    padding: 10px 20px;
    margin: 0;
    height: 100%; }
    #header .section::after {
      content: '';
      border-left: 1px solid white;
      position: absolute;
      top: 10%;
      bottom: 10%;
      right: 0;
      display: none; }
    #header .section:first-child::after {
      display: block; }
  #header .logo img {
    display: block;
    width: 90%;
    margin: 5px auto 0; }
  #header h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 30px; }
  #header .identifier {
    font-size: 10px;
    padding-top: 12px; }
    #header .identifier p, #header .identifier strong {
      color: white;
      line-height: 1.1em;
      margin: 0 0 2px 0; }
    #header .identifier p strong {
      color: #217CA4;
      text-transform: uppercase; }
    #header .identifier hr {
      border-top-color: white;
      margin: 8px 0; }

#footer {
  background: #ebeff1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  font-size: 8px;
  margin: 0;
  font-weight: bold; }
  #footer hr {
    border-top-color: #87898b; }
  #footer .section {
    height: 40px;
    margin-top: -5px;
    border-right: 1px solid #87898b;
    border-top: 1px solid #87898b;
    padding: 4px 10px;
    height: 40px;
    float: left; }
    #footer .section p {
      padding-top: 2px; }
    #footer .section.big {
      width: 60%; }
    #footer .section.small {
      width: 20%; }
    #footer .section:last-child {
      border-right: none; }
